.root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 12px;
  min-height: 15vh;
}
.expanded {
  background-color: #577590;
  border-radius: 0 0 20px 20px;
}
.setters__container {
  /* border: solid 1px red; */
  width: 100%;
  background-color: #577590;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.setters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.setters__selects_container {
  width: 100%;
  background-color: #577590;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
  z-index: 5;
  border-radius: 0 0 20px 20px;
}
.hidden {
  display: none;
}
